* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-text:black;
    --transition : all .5s ease;
    --color-button-shadow :1px -1px 20px -4px rgba(255, 43, 185, 0.99);
    --color-shadow:rgba(255, 43, 185, 0.99);
    --background-todo:white;
    --color-navbar:rgb(231, 231, 231);
}
body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:12px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
}
body::-webkit-scrollbar-track {
    border-radius: 10px; 
 }
body{
    padding-top: 120px;
    transition: var(--transition);
    background-color: var(--background-todo);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    background-color: var(--color-navbar);
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 3;
    transition: var(--transition);
}
.logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 1.15rem;
    color: var(--color-text);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    font-family: 'roboto';
    font-weight: bolder;
}
#check{
    display: none;
}
.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;

}
@media screen and (max-width:992px) {
    .header{
        padding: 1.3rem 5%;
        
    }
}
@media screen and (max-width:768px) {

    .icons{
        display: inline-block;
    }
    #close-icon{
        display: none;

    }
    #check:checked~.icons #menu-icon{
        display: none;
    }

    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--color-navbar);
        transition: .3s ease;
        overflow: hidden;
        justify-content: space-around;
        flex-direction: column;
    }
    #check:checked~.navbar {
        height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-family: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
    }
}
.btnNight{
    user-select: none;
    position: absolute;
    right: 20px;
    top: 90px;
    font-size: 90px;
    cursor: pointer;
    z-index:1 ;
    color: var(--color-text);
 }
.opciones_contacto{
    width: 50px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 20px;
    justify-content: space-evenly;
    z-index: 2;
    top: 120px;
    left: 10px;
    background-color: rgb(76, 76, 240);
    box-shadow: 0 0 10px 0 rgb(76, 76, 240);
}
.opciones_contacto a img{
    width: 70%;
}
.background {
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.background .background_text {
    position: relative;
    top: 70px;
    width: 550px;
    padding: 30px;
}

.background div h1 {
    font-size: 50px;
    font-family: 'Lilita One', cursive;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--color-text);
    transition: var(--transition);
}
.background div h1,p{
    transition: var(--transition);
    color: var(--color-text);
}

.background .background_btn_arrow a {
    margin-top: 40px;
    width: 160px;
    padding: 15px 25px;
    text-align: center;
    background-color: var(--color-shadow);
    display: flex;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-around;
    text-decoration: none;
    box-shadow: var(--color-button-shadow);
    border-radius: 5px;
    transition: var(--transition);
}

.background img {
    width: 30%;
    user-select: none;
}

body {
    overflow-x: hidden;
}
.img_carrusel{ 
    width: 600px;
    height: 600px;
    object-fit: contain;
}
.carousel-item{
    background-color: rgb(0, 153, 255);
}
.texto_in_carrusel{
    color: var(--color-text);
}
.texto_in_carrusel:not(p){
    font-size: 40px !important;
    font-weight: bold;
}
.texto_in_carrusel:not(h5){
    font-weight: bold;
}
.habilidades {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 10px;
    margin-bottom: 50px;
}

.habilidades .habilidades_card {
    width: 350px;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease-in;
    cursor: pointer;
    /* border-radius: 5px; */
    /* box-shadow: 1px -1px 20px -4px rgba(0, 74, 255, 0.99);
    -webkit-box-shadow: 1px -1px 20px -4px rgba(0, 74, 255, 0.99);
    -moz-box-shadow: 1px -1px 20px -4px rgba(0, 74, 255, 0.99); */
}
.habilidades .habilidades_card:hover{
    transform: scale(1.08);
}
.habilidades .habilidades_card img {
    width: 100%;
    height: 250px;
    /* background-color: rgb(248, 126, 126); */
    object-fit: contain;
    /* border: 20px solid rgb(255, 255, 255); */
}

.habilidades .habilidades_card h3 {
    font-size: 25px;
    line-height: 22px;
    /* color: rebeccapurple; */
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    color: var(--color-text);
    transition: var(--transition);
}
.habilidades .habilidades_card p{
    line-height: 22px;
    /* color: rgb(67, 67, 67); */
    color: var(--color-text);
    transition: var(--transition);
}
.habilidades .habilidades_card h3,
p,
img {
    margin: 10px;
    font-family: 'roboto';
}
.conocimientos{
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
}
.background-todo{
    background-image: url("./assets/photoshop.png");
    background-position: right top ;
    background-size: 40%;
    background-repeat: no-repeat;
}
.conocimientos .conocimientos_article{
    background-color: red;
    border: 1px solid black;
}
.conocimientos_article img{
    width: 20%;
}
.conocimientos_article_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conocimientos_article_text_div{
    position: relative;
    top: 40px;
    width: 600px;
    padding: 20px;
    border: 1px solid var(--color-text);
}
.conocimientos_article_text_div p{
    line-height: 25px;
}
.conocimientos_article_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.html{
    height: 300px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    animation-name:html;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes html{
    from{
        transform: translateY(-20px);
    }to{
        transform: translateY(0);
    }
}
.css{
    height: 400px;
    object-fit: contain;
    position: absolute;
    transform: rotate(30deg) translate(120px);
    animation-name:css;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes css{
    from{
        transform: rotate(30deg) translate(120px);
    }to{
        transform: rotate(0) translate(0);
    }
}
.javascript{
    height: 300px;
    object-fit: contain;
    position: absolute;
    z-index: -1;
    transform: rotate(-30deg) translate(-120px);
    animation-name:javascript;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes javascript{
    from{
        transform: rotate(-30deg) translate(-120px);
    }to{
        transform: rotate(0) translate(0);
    }
}
.php{
    height: 200px;
    object-fit: contain;
    position: absolute;
    z-index: -1;
    transform: rotate(-30deg) translate(-120px);
    animation-name:php;
    animation-direction: alternate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes php{
    from{
        transform: rotate(-30deg) translate(-120px);
    }to{
        transform: rotate(0) translate(0);
    }
}

.conocimientos_article_h3{
    font-size: 50px;
    color: var(--color-text);
    transition: var(--transition);
}

.title_text_main{
    text-align: center;
    margin-top: 30px;
    font-family: 'Lilita One', cursive;
    font-size: 40px;
    letter-spacing: 20px;
    color: var(--color-text);
}
.cerebro_title{
    width: 20%;
}
.texto_cerebro_title{
    width: 100%;
    display: flex;
    /* background-image: url('./assets/photoshop2.png'); */
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: right end; */
    /* background-image: url("./assets/photoshop.png"); */
    /* background-size: contain; */
    flex-direction: column-reverse;
    /* background-repeat: no-repeat; */
    color: var(--color-text);
    align-items: center;
}
.identado{
    font-family: 'roboto';
    margin-left: 20px;
    color: var(--color-text);
}
@media screen and (min-width:768px) and (max-width:1140px) {
    .habilidades{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .habilidades .habilidades_card{
        margin-top: 20px;
    }
     .conocimientos{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .conocimientos_article{
        margin-top: 20px;
    } 
    .html,.css,.javascript,.php{
        width: 200px;
        height: 400px;
    }
    .title_text_main{
        font-size: 30px;
        letter-spacing: normal;
    }
    .conocimientos_article_h3{
        font-size: 40px;
    }
}

@media screen and (max-width:767px) {
    .btnNight{
        top: 70px;
    }
    .background {
        height: auto;
        flex-direction: column;
    }
    .background img {
        width: 60%;
        position: absolute;
        z-index: -1;
        filter: blur(10px);
    }

    .background .background_text {
        width: 80%;
        text-align: center;
        color: green; 
    }

    .background .background_btn_arrow a {
        width: 160px;
        margin-right: auto;
        margin-left: auto;
    }
    .habilidades{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }
    .habilidades .habilidades_card{
        margin-top: 20px;
    }
    .conocimientos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        gap: 10px;
    }
    .html,.css,.javascript,.php{
        height: 200px;
    }
    .conocimientos_article_text_div{
        width: 100%;
    }
    .title_text_main{
        font-size: 25px;
        letter-spacing: 9px;
    }
    .conocimientos_article_h3{
        font-size: 30px;
    }
}
@media screen and (max-width:400px){
    .background .background_text {
        width: 300px;
        padding: 20px;
    }
    .background_title{
        font-size: 25px !important;
    }
    .text-content-bg{
        font-size: 10px;
    }
    .btnNight{
        top: 70px;
    }
    .habilidades .habilidades_card{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .habilidades .habilidades_card img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
    .conocimientos .conocimientos_article{
        width: 100%;
        margin-top: 20px;
    }
    .conocimientos .conocimientos_article img{
        width: 100%;
        height: 200px;
    }
    .conocimientos_article_text_div{
        width: 100%;
    }
    .html,.css,.javascript,.php{
        width: 50px;
        height: 100px;
    }
    .title_text_main{
        font-size: 20px;
    }
    .conocimientos_article_h3{
        font-size: 20px;
    }
}
@media screen and (max-width:500px){
    .background .background_text {
        width: 300px;
        padding: 20px;
    }
    .background_title{
        font-size: 25px !important;
    }
    .text-content-bg{
        font-size: 10px;
    }
    .conocimientos_article_h3{
        font-size: 20px;
    }
    .html,.css,.javascript,.php{
        width: 80px;
        height: 100px;
    }
}
@media screen and (max-width:290px){
    .conocimientos_article_h3{
        font-size: 20px;
    }
    .html,.css,.javascript,.php{
        width: 90px;
        height: 100px;
    }
}